//colors
$color-primary-dark: #388659;
$color-primary-middle: #439775;
$color-primary-light: #79c99e;

$color-white: #fff;

$color-black: #1c1c1c;

//fonts
$font-size-regular: 1.6rem;
$font-size-large: 2rem;
$font-size-small: .8rem;
$font-h2: 3.5rem;